@tailwind base;
@tailwind components;
@tailwind utilities;

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.josefin-slab-regular {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.text-shadow {
  text-shadow: #14b8a6 -3px 1px;
}

.noWrap {
  white-space: nowrap;
  word-spacing: normal;
}

.modal-overlay {
  background-color: #18212c50;
}

.neon-teal {
  text-shadow: 1px 1px 2px #14b8a675, 0 0 1em #14b8a675, 0 0 0.2em #14b8a675;
}
.neon-red {
  text-shadow: 1px 1px 2px #dc2626, 0 0 1em #dc2626, 0 0 0.2em #dc2626;
}

.card-responsivo {
  width: 100%; /* Para garantir que se ajuste ao swiper */
  max-width: 225px;
  min-height: 500px;
}

.img-card {
  width: 100%; /* Garante que a imagem ocupe o espaço da carta */
  max-height: 250px;
  object-fit: cover; /* Para evitar distorção na imagem */
}

@media (min-width: 768px) {
  .card-responsivo {
    max-width: 250px;
    min-height: 500px;
  }
  .img-card {
    max-height: 350px;
  }
}

@media (min-width: 820px) {
  .card-responsivo {
    max-width: 300px;
    min-height: 600px;
  }
}

.inline-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}